/* reset some styles set by the cookie consent library */

#ck-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#ck-options div ul {
  list-style: none;
}

.ck-main {
  background: transparent url(../images/cookiebar-shadow-repeater.png) 0 0 repeat-y;
  padding: 0 10px;
}
